.page {
  max-width: 680px;
  margin: 0 auto 100px;
  font-family: "Merriweather", serif;
  font-size: 22px;
  line-height: 1.4;
  text-align: justify;
  color: #32477d;
}
.page h1 {
  text-align: center;
  margin: 0 0 64px;
}
.page p {
  margin: 0 0 2em;
}
.page .media {
  display: table;
  margin: 20px auto 30px;
  text-align: center;
  max-width: 100%;
}
.page .media img,
.page .media iframe {
  max-width: 100%;
  display: block;
  margin: 0 0 4px;
}
.page .media figcaption {
  font-size: 18px;
  font-style: italic;
}
.page .media.fl {
  max-width: 384px;
  width: 100%;
  margin: 0 40px 40px -150px;
}
.page .media.fr {
  max-width: 384px;
  width: 100%;
  margin: 0 -150px 40px 40px;
}
.page blockquote {
  text-align: right;
  padding: 0 40px 0 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.35;
  font-style: italic;
  border-right: solid 4px #c5cfda;
}
.page blockquote p {
  margin: 0;
}
.page blockquote.fl {
  float: left;
  max-width: 328px;
  margin: 0 40px 40px -150px;
}
